Flask==3.0.3
Flask-SocketIO==5.3.6
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.0.7
python-socketio==5.11.3
eventlet==0.36.1
python-dotenv==1.0.1
Werkzeug==3.0.3
email-validator==2.2.0
Flask-Login==0.6.3
click~=8.3.1
alembic~=1.19.1
SQLAlchemy~=2.0.52